<div class="row">
    <div class="column">
      <div class="card card1">
        <h3>Today's Money</h3>
       <h2>{{578748|currency:"INR":"symbol"}}</h2>
      </div>
    </div>
  
    <div class="column">
      <div class="card card2">
        <h3>Today's User</h3>
       <h2>2233</h2>
      </div>
    </div>
    
    <div class="column">
      <div class="card card3">
        <h3>New Client</h3>
        <h2>98</h2>
      </div>
    </div>
    
    <div class="column">
      <div class="card card4">
        <h3>Sales</h3>
        <h2>{{7450}}</h2>
      </div>
    </div>
  </div>
  <div class="card-group">
   <div class="f-bar"> <i class="bi bi-bar-chart-line-fill">Bar Chart</i></div>
   <div class="s-bar"><i class="bi bi-pie-chart-fill">Pie Chart</i></div>
   <div class="t-bar"> <i class="bi bi-bar-chart-line">Line Chart</i></div>
  </div>
<div class="card-group">
   
    <div class="card bar-card m-4 box-shadow-lg p-3 mb-5  rounded">
     
      <div class="card-body " >
        <canvas id="myChart" style="width: 220px;height: 200px;"></canvas>
      
      </div>
    </div>
    <div class="card  pie-card m-4  box-shadow p-3 mb-5 rounded">
      
      <div class="card-body">
        <canvas id="pieChart"></canvas>
      </div>
    </div>
    <div class="card line-card m-4  box-shadow p-3 mb-5 rounded">
     
      <div class="card-body">
        <canvas id="lineChart"  style="width: 230px;height: 200px;"></canvas>
      </div>
    </div>
  </div>
  
 